<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <th:block th:include="~{layout}"></th:block>

</head>
<body>

    <div class="container mt-5">

        <div class="row">
            <div class="text-center col-8">
                <h1>Inventario</h1>
            </div>
            <div class="text-right col-4">
                <a href="/formularioAgregarProducto" data-fancybox data-type="ajax" class="btn btn-primary">Agregar Producto</a>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(productos)}" class="alert alert alert-danger text-center">
            <h6>No se encontraron productos</h6>
        </div>
        <table class="table small" th:if="${!#lists.isEmpty(productos)}">
            <thead class="table-dark">
                <tr>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>C&oacute;digo</th>
                    <th>Sector</th>
                    <th>Secci&oacute;n</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.descripcion}"></td>
                    <td th:text="${producto.cantidad_stock}"></td>
                    <td class="text-right" th:text="${producto.precio}"></td>
                    <td th:text="${producto.codigo}"></td>
                    <td th:text="${producto.ubicacion.sector}"></td>
                    <td th:text="${producto.ubicacion.seccion}"></td>
                    <td class="text-right">
                        <a href="#" 
                           data-fancybox 
                           data-type="ajax" 
                           th:attr="data-src='/formularioEditarProducto?id=' + ${producto.idproducto}" 
                           class="btn btn-sm btn-warning">
                            Editar
                        </a>
                        <button type="button" class="btn btn-sm btn-danger"
                                th:attr="onclick='confirmarEliminacion(' + ${producto.idproducto} + ');'">Eliminar
                        </button> 
                </tr>

            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('[data-fancybox]').fancybox({
                // Optional Fancybox settings can go here
            });
        });
    </script>
</body>
</html>
